html{
    scroll-behavior: smooth;
}
body {
    margin: 0%;
}


header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-right: 2%;
    padding-left: 2%;

}
.logo {
    color: white;
}

/* creo le classi per il font */
.boldonse {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hero {
    background-color: darkcyan;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;

}
ul{
    list-style: none;

}
li{
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

#menu{
    /* all'inizio non si vede  */
    display: none;
}

footer {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoScuola {
    height: 13vh;
    display: flex;
    align-items: center;

}
.imgLogo {
    height: 80%;
}
.info > a {
    text-decoration: none;
    background-color: deeppink;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
}
span{
    font-family: "Work Sans", sans-serif;
}
footer > div {
    width: 33.333333%;
    display: flex;
    justify-content: center;
}
.inizio {
    height: 100vh;
    display: flex;
    /* se non ci stai, vai a capo  */
    flex-wrap: wrap;
    justify-content: center; /* centro i rettangoli nella pagina */
    align-items: center;
}

.contenitore {
    width: 40%;
    background-color: lightskyblue;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animazione quando passo con il mouse sui contenitori  */
.contenitore:hover {
    background-color: lightsteelblue;
    transition: 0.3s;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* personalizzo il riquadro del curriculum  */
.curriculum {
    width: 65%;
    padding: 20px;
    border: 1px solid black;
}

.intestazione {
    text-align: center;
}
.fascia-download{
    background-color: aqua;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottone{
    background-color: blue;
    color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    border-radius: 15px;

}
a {
    text-transform: none;
}
.bottone:hover {
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
}
.bonus {
    height: 50vh;
}